<div style="height: 70vh;" class="row justify-content-center align-items-center">
    <div class="col-md-8">
        <form method="post" action="/tditems/updatecategory">
            <input type="text" value='<%= category.Name %>' class="form-control-lg form-control" placeholder="Category Name" name="name" />
            <input type="hidden" name="id" value='<%= category.Id %>' />
            <br />
            <button class="btn btn-danger btn-block">Update</button>
        </form>
    </div>
</div>