<div class="row">
    <div class='col-md-6 offset-md-3 card card-body bg-light'>
        <form method='post' action='/tditems/additem'>
            <input id='title' type='text' name='title' class='form-control' placeholder="Title" />
            <br />
            <label for="date">Due Date:</label>
            <input id='date' type='date' name='dueDate' class='form-control' placeholder="Due Date" />
            <br />
            <div class="form-group">
                <label for="categoryid">Category:</label>
                <select id="categoryId" class="form-control form-control-lg" name="categoryId">
                    <% for(let i= 0; i < categories.length; i++) { %>
                <option value=<%= categories[i].Id %>><%= categories[i].Name %></option>
                <%}%> 
                </select>
           
            </div>
 <button class='btn btn-primary btn-block'>Add</button>
        </form>
    </div>
</div>

