<h1>Welcome to the task application</h1>
Menu:
</br>
<a href='/tditems/newitem'>Add tasks</a>
</br>
<a href='/tditems'>View incomplete tasks</a>
</br>
<a href='/tditems/completed'>View complete tasks</a>
</br>
<a href='/tditems/newcategory'>Add categories</a>
</br>
<a href='/tditems/categories'>View/Edit categories</a>
